<div id="container">
    <div id="side" class="verticalLine">

        <form method="post" id="formBill">
            <input type="text" placeholder="Tên khách hàng" id="FullName" name="FullName" autofocus>
            <input type="tel" pattern="[0-9]*" placeholder="SDT" id="PhoneNumber" name="PhoneNumber" required>
            <input type="number" id="dept" placeholder="Số tiền nợ" readonly>
            <input type="number" placeholder="Số tiền thu" id="Money" name="Money" required>
            <button id="myBtn" class="btn btn-dark btn-lg px-5" type="submit">Lưu</button>
        </form>
    </div>
</div>