
<h2>ĐỔI MẬT KHẨU</h2>
<div class="main">
  <div>
  <h2 class="text-danger">{{errMessage}}</h2>
  </div>
  <form method="post" id="formChangePW">
    <input type="password" placeholder="Mật khẩu cũ" name="PasswordOld" id="PasswordOld" required>
    <input type="password" placeholder="Mật khẩu mới" name="PasswordNew" id="PasswordNew" required>
    <input type="password" placeholder="Xác nhận mật khẩu mới" id="PasswordConfirm" required>
    <button class="btn btn-dark btn-lg px-5" type="submit">Lưu</button>
  </form>
</div>