<h2 style="color: black;">Quên mật khẩu</h2>
    
      <div class="main" >
        <form action="reset" id = "frmReset" method="post">
            <input type="text" id="Username" name="Username" placeholder="Tên đăng nhập" required>
            <input type="password" id="PasswordNew" name="PasswordNew" placeholder="Mật khâu mới" required>
            <input type="password" id="PasswordConfirm" name="PasswordConfirm" placeholder="Nhập lại mật khẩu mới" required>
            <button style="margin-left: 830px;" class="btn btn-dark btn-lg px-5 reset" type="submit">Reset</button>
        </form>
      </div>