<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tra cứu sách</title>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url(../../public/images/bg-chinh.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .logo a {
            position: absolute;
            font-size: 80px;
            color: black;
            text-decoration: none;

        }

        nav {
            font-size: 20px;
            padding: 20px;
        }

        #search {
            display: flex;
            /* width: 600px; */
            height: 50px;
            margin-left: 400px;
        }

        #search>input {
            border-radius: 10px;
            width: 600px;
            height: 40px;
            font-size: medium;
            padding-left: 50px;
        }

        #search>button {
            width: 100px;
            height: 40px;
            font-size: medium;
            margin-left: 30px;
            border-radius: 10px;
        }

        #container {
            position: relative;
            display: flex;
            max-width: 1600px;
            margin: 0 0;
            /* min-height: 550px; */
            font-size: 20px;
        }



        #container #main {
            /* position: relative; */
            /* border-right: 1px solid black; */
            width: 1200px;
            padding-left: 100px;
            padding-right: -100px;
            margin-left: 100px;
        }

        #container #main h2 {
            margin-top: 2px;
            margin-bottom: 5px;
            text-align: center;
            color: #00000000;
        }

        #container #main #infor {
            overflow-x: hidden;
            overflow-y: auto;
            height: 400px;
        }

        #container #side {
            width: 560px;
            margin-left: 50px;
            margin-top: 60px;
            margin-right: 100px;
            height: 400px;
        }

        #container #side h2 {

            text-align: center;
            font-size: 30px;
            padding-bottom: 20px;
            margin-bottom: 0 px;

        }

        h2 {
            /* position: absolute; */
            font-size: 46px;
            text-align: center;
            font-weight: bold;
        }

        #search input {
            overflow: hidden;
            background: transparent;
        }

        #search i {
            position: absolute;
            margin-left: 10px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <img src="../../public/images/logo1.png" alt="">
        <a href="">LIBIB</a>
    </div>

    <nav class="navbar navbar-expand-lg ">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav nav-tabs">
                <li class="nav-item ">
                    <a class="nav-link text-dark active" href="./staff/home">Trang chủ <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="../staff/receipt">Lập hóa đơn</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark " href="../staff/bill">Lập phiếu thu tiền</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark " data-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Quản lý khách hàng</a>
                    <div class="dropdown-menu" style="font-size: 20px;">
                        <a class="dropdown-item" href="/staff/customer">Tra cứu thông tin</a>
                        <a class="dropdown-item" href="/staff/customer/add">Thêm</a>
                        <a class="dropdown-item" href="/staff/customer/edit">Sửa</a>
                        <a class="dropdown-item" href="/staff/customer/history">Lịch sử mua hàng</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="../staff/receipt/historyReceip">Lịch sử bán hàng</a>
                </li>

            </ul>


            <ul class="navbar-nav mr-left nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href=""
                        role="button" aria-expanded="false"><i class="glyphicon glyphicon-user"></i></a>

                    <div class="dropdown-menu" style="font-size: 20px;">
                        <a class="dropdown-item " href="/staff/account/change_password">Đổi mật khẩu</a>
                    </div>
                </li>
            </ul>
            <a href="">
                <span class="navbar-text">
                    {{user.Username}}
                </span>
            </a>
            <form action="/logout" method="post" id="fLogout">
            </form>
            <a href="javascript: $('#fLogout').submit();">Đăng xuất</a>

    </nav>

    {{{body}}}
    <script>
        function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      check = 0;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query


      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];

        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            check=check+1;
          }
          else {
            tr[i].style.display = "none";
            
          }
        }
      }

      if(check===0)
      {
        check=0;
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];

        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            check=check+1;
          }
          else {
            tr[i].style.display = "none";
            
          }
        }
      }
      }

      if(check===0)
      {
        check=0;
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];

        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            check=check+1;
          }
          else {
            tr[i].style.display = "none";
            
          }
        }
      }
      }

    }
    </script>
</body>

</html>