<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>


    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url(../Images/reset.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .logo a {
            position: absolute;
            font-size: 100px;
            color: black;
            text-decoration: none;

        }

        nav {
            font-size: 20px;
            padding: 20px;
        }

        #search {
            position: absolute;
            display: flex;
            height: 50px;
            margin-left: 400px;
            margin-bottom: 50px;

        }

        #search>input {

            width: 600px;
            height: 40px;
            font-size: medium;
            text-align: center;
        }

        #search>button {
            width: 100px;
            height: 40px;
            font-size: medium;
        }



        #main {
            width: 800px;
            padding-left: 100px;
            padding-right: -100px;

        }

        h2 {
            /* position: absolute; */
            font-size: 46px;
            text-align: center;
            font-weight: bold;
            margin-top: 50px;
        }

        input {
            border: none;
            border-bottom: 2px solid black;
            overflow: hidden;
            background: transparent;
            display: flex;
            flex-direction: column;
            font-size: 30px;
            margin-bottom: 40px;
            height: 40px;
            margin-left: 550px;
            margin-top: 50px;
            color: black;

        }

        button {
            height: 50px;
            width: 100px;
            color: black;
            margin-left: 1100px;
        }

        ::placeholder {
            /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
            color: black !important;
            opacity: 1;
            /* Firefox */
        }
        
        form .back {
            position: absolute;
            margin-top: 415px;
            margin-left: 900px;
        }

        form .back {
            position: absolute;
            margin-top: 415px;
            margin-left: 970px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <img src="../Images/logo2.png" alt="">
        <a href="">LIBIB</a>
    </div>
    <form action="./login">
        <button class="btn btn-dark btn-lg px-5 back" type="submit">Quay lại</button>
    </form>

    {{{body}}}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('#frmReset').on('submit', function (event) {
        event.preventDefault();
        const username = $('#Username').val();
        const pwn = $('#PasswordNew').val();
        const pwc = $('#PasswordConfirm').val();
        console.log(pwc, pwn);
        $.getJSON(`/is_available?user=${username}`, function (data) {
            if (data === false) {
                alert("tai khoan chưa được dang ky");
            }
            else if(pwn !== pwc){
                alert("Xác nhận mật khẩu chưa chính xác");
            } 
            else {
                alert("Đổi mật khẩu thành công");
                $('#frmReset').off('submit').submit();
            }
        })
    })
</script>
</body>
</html>