<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử bán hàng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    
    <style>
        html {
        height: 100%;
        }
        body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        background-image:url(../../Images/bg-chinh.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        position: relative;
        }

        .logo a{
            position: absolute;
            font-size: 80px;
            color: black;
            text-decoration: none; 
            
        }

        nav{
            font-size: 20px;
            padding: 20px;
        }


        #search {  
          font-size: 35px;
            text-align: center;
            color: black;
            font-weight: bolder;
        }


        #search>button {  
            width: 100px;
            height: 40px;
            font-size: medium;
        }

        #container{
            position: relative;
            display: flex;
            max-width: 1600px;
            margin: 0 0;
            min-height: 550px;
            font-size: 20px;
        }

        

        #container #main{
            width: 900px;
            padding-left: 100px;
            padding-right: -100px;
            margin-right: 100px;
        }

        #container #main h2 {
            margin-top: 2px;
            margin-bottom: 5px;
            text-align: center;
            color: black;
        }

        #container #main #infor {
            overflow-x:hidden;
            overflow-y:auto;
            
            height:450px
        }

        #container #side {
            width: 560px;
            margin-left: 50px;
            margin-top: 50px;
        }

        #container #side h2 {
            
            text-align: center;
            font-size: 30px;
            padding-bottom: 20px;
            
        }

        #container #side {

            font-size: 30px;
            margin-bottom: 40px;
            height: 40px;
            margin-top: 50px;
            color: black;
            
        }

        #container #side button{
            position: absolute;
            font-size: 25px;
            height: 60px;
            margin-left: 100px;
            color: white;
            background-color: black;
            
        }


        .image_book {
            width: 400px;
        }

        #search input{
            border: none;
            border-bottom: 2px solid black;
            overflow: hidden;
            background: transparent;
        }

        ::placeholder { /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
            color: black !important;
            opacity: 1; /* Firefox */
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="../../Images/logo1.png" alt="">
        <a href="">LIBIB</a>
    </div>

    <nav class="navbar navbar-expand-lg ">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav nav-tabs">
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="../home">Trang chủ <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="../receipt">Lập hóa đơn</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark " href="../bill">Lập phiếu thu tiền</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark " data-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Quản lý khách hàng</a>
                    <div class="dropdown-menu" style="font-size: 20px;">
                        <a class="dropdown-item" href="/staff/customer">Tra cứu thông tin</a>
                        <a class="dropdown-item" href="/staff/customer/add">Thêm</a>
                        <a class="dropdown-item" href="/staff/customer/edit">Sửa</a>
                        <a class="dropdown-item" href="/staff/customer/history">Lịch sử mua hàng</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark active" href="">Lịch sử bán hàng</a>
                </li>

            </ul>


            <ul class="navbar-nav mr-left nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href=""
                        role="button" aria-expanded="false"><i class="glyphicon glyphicon-user"></i></a>

                    <div class="dropdown-menu" style="font-size: 20px;">
                        <a class="dropdown-item " href="/staff/account/change_password">Đổi mật khẩu</a>
                    </div>
                </li>
            </ul>
            <a href="">
                <span class="navbar-text">
                    {{user.Username}}
                </span>
            </a>
            <form action="/logout" method="post" id="fLogout">
            </form>
            <a href="javascript: $('#fLogout').submit();">Đăng xuất</a>

    </nav>


      <div id="search">
        LỊCH SỬ BÁN HÀNG
      </div>
      
      {{{body}}}
      
</body>
</html>